body {
  padding: 0%;
  margin: 0;
  font-family: 'Jua', sans-serif;
}

.App {
  text-align: center;
}

.main-container {
  width: 50%;
  margin: auto;
  min-width: 440px;
}

.letter {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  margin: 3px;
  border: 2px solid rgb(168, 168, 168);
}

#correct {
  background-color: #6dc767;
  border: 2px solid #6dc767;
  color: white;
}

#almost {
  background-color: #ebd151;
  border: 2px solid #ebd151;
  color: white;
}

#error {
  background-color: #8f8c97;
  border: 2px solid #8f8c97;
  color: white;
}

#notWord {
  color: rgb(218, 96, 96);
}

.keyboard {
  margin-top: 10px;
}

.key {
  display: inline-block;
  width: 35px;
  height: 50px;
  background-color: rgb(228, 225, 225);
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

#bigKey {
  width: 65px;
}
