body {
  padding: 0%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
p,
button {
  transform: rotate(0.04deg);
}

div {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main-container {
  position: relative;
  font-weight: 700;
  padding: 20px;
}

.alert {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 400;
  width: 70%;
  max-width: 380px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffaeae;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0px 8px 16px rgb(0 0 0 / 5%);
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in-animation {
  animation: fade-in 0.5s;
}

.fade-out-animation {
  animation: fade-out 1s;
}

nav {
  height: 65px;
  width: 350px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

nav h1 {
  margin-top: 8px;
  margin-bottom: 0;
}

nav span {
  color: #6dc767;
}

nav .arrowRight {
  font-size: 18px;
  margin-top: 18px;
  margin-right: 14px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.letter {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  margin: 2.5px;
  border: 2px solid rgb(224, 222, 231);
  font-weight: 700;
}

@keyframes typing {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.typing-animation {
  animation: typing 0.35s;
}

.border-black {
  border: 2px solid black;
}

#correct {
  background-color: #6dc767;
  border: 2px solid #6dc767;
  color: white;
}

#almost {
  background-color: #ebd151;
  border: 2px solid #ebd151;
  color: white;
}

#error {
  background-color: #94a3b8;
  border: 2px solid #94a3b8;
  color: white;
}

#notWord {
  color: rgb(218, 96, 96);
}

.keyboard {
  margin-top: 20px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.key {
  display: inline-block;
  width: 40px;
  height: 58px;
  background-color: #e2e8f0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  margin-left: 2px;
  margin-right: 2px;
}

.key:active {
  background-color: #c1d2d9;
}

.key p {
  padding-top: 6px;
}

#bigKey {
  width: 65px;
}

#disabled {
  background-color: #94a3b8;
  color: white;
}

#right {
  background-color: #6dc767;
  color: white;
}

#close {
  background-color: #ebd151;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.invisible {
  display: none;
}

.modal-body {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.gameover-modal-body {
  width: 400px;
  height: 430px;
}

.xMark {
  cursor: pointer;
  font-size: 25px;
  margin-left: 285px;
}

.xMark:active {
  color: #c1d2d9;
}

.gameover-modal-body h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.gameover-modal-body h2 {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 28px;
}

.gameover-letter {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  border-radius: 5px;
  margin: 2px;
  border: 2px solid rgb(224, 222, 231);
  font-weight: 700;
}

.btn-wrapper {
  margin-top: 45px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fcf8f8;
  background-color: #037ef3;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:active {
  background-color: #5aa9f4;
}

@media (min-width: 1200px) {
  .arrowRight:hover {
    color: #6dc767;
  }
}

@media (max-width: 767px) {
  .arrowRight:active {
    color: #6dc767;
  }
}
