@font-face {
  font-family: 'sans';
  src: url('./font/BlackHanSans-Regular.ttf') format('truetype');
}

body {
  padding: 0%;
  margin: 0;
  font-family: 'sans';
}

.App {
  text-align: center;
}

.main-container {
  width: 50%;
  margin: auto;
  min-width: 440px;
}

.letter {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid black;
}

.keyboard {
  margin-top: 10px;
}

.key {
  display: inline-block;
  width: 35px;
  height: 50px;
  background-color: lightgray;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

#bigKey {
  width: 65px;
}
